* {
    background-color: #151515;
}
.projects {
    margin-top: 25px;
}
.project-container {
    border-radius: 8px;
    border: #5555 solid 1px;
    padding: 20px;
    margin: 10px;
    display: flex;
    align-items: center;
  }
  
  .project-info {
    flex: 1;
  }
  
  .project-name {
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .project-description {
    font-size: 16px;
    color: #b1b1b1;
    margin-bottom: 20px;
  }
  
  .project-link {
    display: inline-block;
    background-color: rgb(0, 183, 255);
    color: #222;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
  }
  