
.projects {
    margin-top: 25px;
}

.project-container {
    border-radius: 8px;
    border: #5555 solid 1px;
    padding: 20px;
    margin: 10px;
    display: flex;
    align-items: center;
    background-color: #1515152f;
    backdrop-filter: blur(10px);
  }
  
  .project-info {
    flex: 1;
  }
  
  .project-name {
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .project-description {
    font-size: 16px;
    color: #b1b1b1;
    margin-bottom: 20px;
  }
  
  .project-link {
    display: inline-block;
    background-color: rgb(0, 183, 255);
    color: #222;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
  }
  

  .custom-overflow {
    width: 300px;
    height: 200px;
    overflow: auto;
    scrollbar-width: thin;
    scrollbar-color: #555555 #f0f0f0;
  }
  
  .custom-overflow::-webkit-scrollbar {
    width: 8px;
  }
  
  .custom-overflow::-webkit-scrollbar-track {
    background: #f0f0f0;
  }
  
  .custom-overflow::-webkit-scrollbar-thumb {
    background-color: #555555;
  }
  