@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

/* Estilos generales */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    /* font-family: "Audiowide",sans-serif; */
}
*::-webkit-scrollbar {
    width: 8px;
  }
  
  *::-webkit-scrollbar-track {
    background: #151515;
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: #555555;
    border-radius: 5px;
  }

body {
    background: url(https://images.unsplash.com/photo-1607743386760-88ac62b89b8a?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

/* Estilos para la barra de navegación #0c0c0c */

.nav {
    height: 50px;
    width: 100%;
    position: relative;
    padding: 0px 25px;
}

.nav>.nav-header {
    display: inline;
}

.nav>.nav-header>.nav-title {
    display: inline-block;
    font-size: 22px;
    color: #fff;
    padding: 10px 10px 10px 10px;
}

.nav-title {
    text-transform: uppercase;
    padding: 10px;
}

.nav-title a {
    color: #efefef !important;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
}

.nav-title a:hover {
    color: #efefef;
    color: rgb(0, 183, 255);
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
}

.nav>.nav-btn {
    display: none;
}

.nav>.nav-links {
    display: inline;
    float: right;
    font-size: 18px;
}

.nav>.nav-links>a {
    display: inline-block;
    padding: 13px 10px 13px 10px;
    text-decoration: none;
    color: #efefef;
}

.nav>.nav-links>a:hover {
    background-color: rgba(0, 0, 0, 0.3);
    color: #00aeff;
}

.nav>#checkbox {
    display: none;
}

/* Estilos de introduccion */
.intro {
    margin: 25vh auto;
    color: #fafafa;
    text-align: center;
    overflow: hidden;
}

.brand-intro {
    font-size: 32px;
}

.text-slider {
    font-size: 24px;
    text-align: center;
    position: relative;
    height: 24px;
}

.text-slider .cursor {
    position: absolute;
    width: 2px;
    height: 27px;
    background-color: #fafafa;
    animation: cursor 1s infinite;
}

@keyframes cursor {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@media (max-width:600px) {
    .nav {
        padding: 0px 5px;
    }

    .nav>.nav-btn {
        display: inline-block;
        position: absolute;
        right: 5px;
        top: 5px;
        overflow: hidden;
    }

    .nav>.nav-links {
        position: absolute;
        display: block;
        width: 100%;
        background-color: #151515;
        height: 0px;
        transition: all 0.3s ease-in;
        overflow: hidden;
        top: 50px;
        left: 0px;
        z-index: 99;
    }

    .nav>.nav-links>a {
        display: block;
        width: 100%;
        overflow: hidden;
    }

    .nav>#checkbox:not(:checked)~.nav-links {
        height: 0px;
    }

    .nav>#checkbox:checked~.nav-links {
        height: calc(100vh - 50px);
        overflow: hidden;
    }

    /* hdkhsdkhkdshjksdhskdh */
    .text-slider {
        font-size: 20px;
    }

    .text-slider .cursor {
        height: 23px;
    }

    /* asjkaskaksjkasjkajskjs */
    .toggle {
        position: relative;
        width: 40px;
        height: 40px;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 6px;
        transition-duration: .5s;
    }

    .bars {
        width: 90%;
        height: 4px;
        background-color: #eeeeee;
        border-radius: 4px;
    }

    #bar2 {
        transition-duration: .8s;
    }

    #bar1,
    #bar3 {
        width: 70%;
    }

    #checkbox:checked+.nav-btn .toggle .bars {
        position: absolute;
        transition-duration: .5s;
    }

    #checkbox:checked+.nav-btn .toggle #bar2 {
        transform: scaleX(0);
        transition-duration: .5s;
    }

    #checkbox:checked+.nav-btn .toggle #bar1 {
        width: 90%;
        transform: rotate(-45deg);
        transition-duration: .5s;
    }

    #checkbox:checked+.nav-btn .toggle #bar3 {
        width: 90%;
        transform: rotate(45deg);
        transition-duration: .5s;
    }

    #checkbox:checked+.nav-btn .toggle {
        transition-duration: .5s;
        transform: rotate(-180deg);
    }

}
