
/* Estilos generales */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: #222;
}

/* Estilos para la barra de navegación #0c0c0c */
.navbar-fixed-top {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #222;
    color: #fff;
    font-size: 18px;
}

.navbar-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}

.navbar-logo {
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 10px;
}

.navbar-logo a {
    color: #fff;
    text-decoration: none;
}

.navbar-nav {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 0;
    padding: 0;
    transition: all 0.3s ease-in-out;
}

.navbar-nav li {
    margin-left: 15px;
    margin-right: 5px;
    transition: all 0.3s ease-in-out;
}

.navbar-nav a {
    color: #fff;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

.navbar-nav a:hover {
    color: rgb(0, 183, 255);
}


.hamburger {
    cursor: pointer;
    position: absolute;
    top: 10px;
    left: 5px;
  }
  
  .hamburger input {
    display: none;
  }
  
  .hamburger svg {
    /* The size of the SVG defines the overall size */
    height: 30px;
    /* Define the transition for transforming the SVG */
    transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .line {
    fill: none;
    stroke: white;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 3;
    /* Define the transition for transforming the Stroke */
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
                stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .line-top-bottom {
    stroke-dasharray: 12 63;
  }
  
  .hamburger input:checked + svg {
    transform: rotate(-45deg);
  }
  
  .hamburger input:checked + svg .line-top-bottom {
    stroke-dasharray: 20 300;
    stroke-dashoffset: -32.42;
  }
  
.navbar-toggle {
    display: none;
}
/* Estilos para pantallas pequeñas */
@media screen and (max-width: 550px) {
    .navbar-container {
        flex-direction: row;
        height: auto;
        position: relative;
    }
    .navbar-nav {
        flex-direction: column;
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: #222;
        padding: 10px;
        border: 1px solid #555;
        border-radius: 5px;
        z-index: 999;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-nav li {
        margin-left: 0;
        margin-bottom: 10;
    }
    .text-slider {
        font-size: 24px;
        height: 24px;
    }
    .text-slider .cursor {
        width: 3px;
        height: 27px;
    }
    .brand-heading {
        font-size: medium;
        margin-bottom: 20px;
    }
}

/* Estilos de introduccion */
.intro {
    margin-top: 0px;
    color: #fff;
    height: 92vh;
    background: #222;
}
.intro-container {
    padding-top: 25%;
    text-align: center;
}
.brand-heading {
    margin-bottom: 20px;
    font-size: xx-large;
}

.text-slider {
    font-size: 32px;
    text-align: center;
    position: relative;
    height: 32px;
}

.text-slider .cursor {
    position: absolute;
    width: 4px;
    height: 35px;
    background-color: #fff;
    animation: cursor 1s infinite;
}

@keyframes cursor {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
