* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
  }
  body {
    background: #222;
  }

  /*TITULO Y BOTON DE REGRESO*/
.top {
  display: inline-flex;
  padding: 5px 7% 0px 7%;
}
.heading {
  font-size: large;
  text-align: center;
  margin-left: 0px;
}
.regresar {
  border: 1px solid rgba(0,0,0,.1);
  text-align: center;
  width: 22px;
  height: 24px;
  padding: 0px 2px 4px 4px;
  fill: #eee;
}
.regresar:hover {
  background: #333;
  fill: #ccc;
  border-radius: 5px;
  transition: .5s;
}




  /*CONTENIDO*/

  /*VIDEO EN REPRODUCCION*/
  .container-box {
    display: none;
  }
  .container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 15px;
    align-items: flex-start;
    padding: 5px 5%;
  }
  .container .main-video {
    background: #fff;
    border-radius: 5px;
    padding: 10px;
  }
  .container .main-video .video video {
    width: 100%;
    max-height: 520px;
    border-radius: 5px;
  }



.video {
  position: relative;
  display: inline-flex;
}
.video.fullscreen #video-controls {
  display: inline-flex;
}

.video.fullscreen #video-controls {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.47);
  display: none;
  align-items: center;
  border-radius: 3px;
  padding: 1px 3px;
}
#video-controls {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.200);
  display: none;
  align-items: center;
  border-radius: 3px;
  padding: 1px 3px;
}
#video-controls:hover {
  display: inline-flex;
  transition: 3s;
}

#left-buttons img {
  width: 20px;
  height: 20px;
  cursor: pointer;
}
#progress-bar-box {
  cursor: pointer;
  margin: 0px auto;
  width: 70%;
  height: 5px;
  background: rgba(51, 51, 51, 0.154);
  border-radius: 3px;
  display: inline-flex;
  align-items: center;
}
#progress-bar {
  height: 100%;
  background: red;
  cursor: pointer;
  border-radius: 3px;
}
#progress-ball {
  display: none;
  width: 10px;
  height: 10px;
  background: red;
  border-radius: 50%;
  margin-left: -1%;
}

#right-buttons img {
  width: 20px;
  height: 20px;
  cursor: pointer;
}



/*TITULO DEL VIDEO EN REPRODUCCION*/
#title-main {
  color: rgb(57, 57, 57);
}

/*LISTA DE VIDEOS*/
.video-list {
  background: #fff;
  border-radius: 5px;
  height: 520px;
  overflow-y: scroll;
}
.video-list::-webkit-scrollbar {
  width: 7px;
}
.video-list::-webkit-scrollbar-track {
  background: #ccc;
  border-radius: 50px;
}

.list-video video {
  width: 100px;
  height: 50px;
  border-radius: 5px;
}
.list-video {
  display: flex;
  align-items: center;
  gap: 15px;
  background: #f7f7f7;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
  border: 1px solid rgba(0,0,0,.1);
  cursor: pointer;
}
.list-video:hover {
  background: #eee;
}

.list-video.active {
  background: #a2a2a2;
}
.list-video.active .list-video-title {
  color: #eee;
}

  
  



/*RESPONSIVE JAJA*/  

@media (max-width: 1024px) {
  .container {
    grid-template-columns: 1.5fr 1fr;
  }
}

@media (max-width: 768px) {
  .container {
    grid-template-columns: 1fr;
  }
}












.label-file {
  height: 300px;
  width: 300px;
  border-radius: 10px;
  box-shadow: 4px 4px 30px rgba(0, 0, 0, .2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  gap: 5px;
  background-color: rgba(0, 110, 255, 0.041);
  margin: auto;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

.header {
  flex: 1;
  width: 100%;
  border: 2px dashed royalblue;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.header svg {
  height: 100px;
}

.header p {
  text-align: center;
  color: black;
}

.footer {
  background-color: rgba(0, 110, 255, 0.075);
  width: 100%;
  height: 40px;
  padding: 8px;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: black;
  border: none;
}

.footer svg {
  height: 130%;
  fill: royalblue;
  background-color: rgba(70, 66, 66, 0.103);
  border-radius: 50%;
  padding: 2px;
  cursor: pointer;
  box-shadow: 0 2px 30px rgba(0, 0, 0, 0.205);
}

.footer p {
  flex: 1;
  text-align: center;
}

#input-file {
  display: none;
}